@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: roboto, sans-serif;
    text-decoration: none;
    border: none;
    list-style: none;
    color: #FFFFFF;
}
@mixin center-horizontally {
    display: flex;
    justify-content: center;
}
@mixin center-vertically {
    display: inline-block;
    vertical-align: middle;
}
html {
    scroll-behavior: smooth;
}
nav {
    .city {
        @include center-horizontally;
        h2 {
            font-size: 2rem;
            font-weight: 500;
            margin-top: 2rem;
        }
    }
    .icon {
        float: right;
        margin: -3rem 2rem auto -200px;
    }
    @media only screen
    and (max-width: 1500px) {
        .icon {
            display: none;
        }
    }
}
main {
    #general-info {
        .temperature {
            @include center-horizontally;
            h1 {
                font-size: 10rem;
                font-weight: 500;
                margin-top: 2rem;
            }
            @media only screen
            and (max-width: 1500px) {
            h1 {
                font-size: 6rem;
            }
        }
        }
        .condition {
            @include center-horizontally;
            h3 {
                font-size: 1.75rem;
                font-weight: 500;
            }
        }
        .aqi {
            margin-top: 1rem;
            @include center-horizontally;
            .aqi-button {
                background: rgba(255, 255, 255, 0.17);
                width: 7rem;
                height: 2rem;
                border-radius: 99px;
                img {
                    @include center-vertically;
                    width: 25px;
                    transform: rotateY(180deg);
                }
                h3 {
                    @include center-vertically;
                }
            }
            .modal {
                position: absolute;
                padding: 0.5rem;
                background: #252525;
                z-index: 10;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 40%;
                height: 12rem;
                #modal_nav {
                    display: flex;
                    h2 {
                        margin: 0.5rem auto auto 1rem;
                    }
                    button {
                        font-size: 1rem;
                        color: #252525;
                        background-color: #FFFFFF;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                }
                .aqi_modal_info {
                    display: flex;
                    gap: 1rem 1rem;
                    margin: 1rem auto auto 1.25rem;
                    #aqi_modal {
                        font-size: 3rem;
                    }
                }
                ul {
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 1rem;
                    li {
                        span {
                            display: block;
                        }
                        #PM2_5, #PM10, #SO2, #NO2, #O3, #CO {
                            font-size: 1.1rem;
                        }
                        .compound {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
            dialog::backdrop {
                background-color: #43434377;
            }
        }
    }
    @media only screen
    and (max-width: 900px) {
        .modal {
            width: 100% !important;
            height: 12rem;
            #modal_nav {
                display: flex;
                h2 {
                    margin: 0.5rem auto auto 1rem;
                }
                button {
                    font-size: 1rem;
                    color: #252525;
                    background-color: #FFFFFF;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
            }
            .aqi_modal_info {
                display: flex;
                gap: 1rem 1rem;
                margin: 1rem auto auto 1.25rem;
                #aqi_modal {
                    font-size: 3rem;
                }
            }
            ul {
                display: flex;
                justify-content: space-evenly;
                margin-top: 1rem;
                li {
                    span {
                        display: block;
                    }
                    #PM2_5, #PM10, #SO2, #NO2, #O3, #CO {
                        font-size: 1.1rem;
                    }
                    .compound {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }

    #other-params {
        margin-top: 5rem;
        display: flex;
        @include center-horizontally;
        column-gap: 9rem;
        .card {
            height: 10rem;
            background: rgba(255, 255, 255, 0.14);
            border-radius: 32px;
        }
        .container{
            img {
                display: inline-block;
                margin: auto 10rem auto 3rem;
            }
            h3 {
                display: inline-block;
                font-size: 2rem;
                margin-right: 2rem;
            }
            .wind {
                max-width: 670px;
                display: flex;
                align-items: center;
            }
            .pressure {
                max-width: 670px;
                display: flex;
                align-items: center;
                margin-top: 10px;
            }
        }

        .secondary-info {
            max-width: 670px;
            height: calc(20rem + 10px);
            font-size: 1.5rem;
            ul {
                position: relative;
                width: 80%;
                margin: 7.5% 10% auto 10%;
                padding: 10px;
                box-sizing: border-box;
                li {
                    display: flex;
                    padding: 10px 20px;
                    margin: auto 0;
                    border-bottom: 1px solid;
                    span:nth-child(1) {
                        width: 1000px;
                    }
                }
            }
        }
    }
    @media only screen
    and (max-width: 1500px) {
        #other-params {
            display: block;
            margin-left: auto !important;
            margin-right: auto !important;
            width: 95vw;
        }
    }
    @media only screen
    and (max-width: 1500px)
    and (min-width: 510px) {
        .cards {
            #other-params {
                display: block;
                .wind, .pressure {
                    height: 10rem;
                    margin-left: auto;
                    margin-right: auto;
                }
                img {
                    display: inline-block;
                    margin: auto 10rem auto 3rem;
                }
                h3 {
                    display: inline-block;
                    font-size: 2rem;
                    margin-right: 2rem;
                }
            }
            .secondary-info {
                height: 16rem !important;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    @media only screen
    and (max-width: 1500px)
    and (min-width: 670px) {
        #other-params {
            img {
                width: 75px;
            }
            h3 {
                font-size: 2rem !important;
            }
            .wind, .pressure {
                height: 10rem;
            }
        }
        .secondary-info {
            height: 16rem !important;
        }
    }
    @media only screen
    and (max-width: 670px)
    and (min-width: 410px) {
        .container{
            img {
                margin: auto 5rem auto 1.5rem;
            }
            h3 {
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }
    }
    @media only screen
    and (max-width: 670px)
    and (min-width: 500px) {
        .container{
            img {
                margin: auto 5rem auto 1.5rem;
                width: 75px
            }
            h3 {
                font-size: 3rem;
                margin-right: 1rem;
            }
        }
        .secondary-info {
            height: 15rem !important;
        }
    }

    @media only screen
    and (max-width: 500px)
    and (min-width: 410px) {
        .container{
            img {
                margin: auto 2rem auto 1.5rem;
                width: 75px;
            }
            h3 {
                font-size: 1.6rem !important;
                margin-right: 0.5rem;
                margin-left: -5rem;
            }
            .wind, .pressure{
                align-items: normal;
            }
        }
    }
    @media only screen
    and (max-width: 410px) {
        .container{
            .wind, .pressure {
                height: 7rem !important;
                img {
                    width: 45px !important;
                }
                h3 {
                    font-size: 1.2rem !important;
                    margin-left: -7rem;
                }
            }
        }
        .secondary-info {
            height: 15rem !important;
        }
    }
}